

.card:hover{
    background: var(--card_sec_bg);
    cursor: pointer;
    transition: all 0.2s ease-in;
    /* box-shadow: 0 0 5px  rgba(0, 0, 0, 0.5); */
}

.play_btn{
    display: none!important;

}
.card:hover .play_btn{
     display:block!important;
     transition: all 0.5 ease-in-out;
}
     